.switchContainer {
	display: flex;
	width: fit-content;
	height: 3rem;
	border-radius: 2rem;
	margin: 1rem;
}

button {
	padding: 0.5rem 1rem;
	border: none;
	background-color: #0051a2;
	cursor: pointer;
	color: #e8e5e9;
}

.left {
	border-radius: 2rem 0rem 0 2rem;
}

.right {
	border-radius: 0 2rem 2rem 0;
}

.active {
	transition: background-color 0.25s;
	outline: 0.25rem solid white;
	color: #e8e5e9;
	background-color: #4178df;
	z-index: 1;
}
