.Default {
	object-fit: contain;
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	border: 0.4rem solid black;
}

.logo {
	width: auto;
	height: clamp(2rem, 5vw, 5.5rem);
}

.company {
	object-fit: contain;
	width: 8rem;
	height: 8rem;
	border-radius: 20%;
	border: 0.25rem solid black;
}
