.layoutContainer {
	display: flex;
	height: 100%;
	justify-content: space-between;
	flex-flow: row nowrap;
	gap: 1rem;
}

.latestColumn {
	display: flex;
	width: 100%;
	align-items: center;
	flex-flow: column nowrap;
	gap: 1rem;
}

.latestProject {
	width: 100%;
	padding: 0 2rem 1rem 2rem;
}

.latestDesc {
	display: flex;
	width: 100%;
	height: 100%;
	flex-flow: column nowrap;
	white-space: pre-line;

	h2,
	h4 {
		align-self: center;
	}

	p {
		padding-top: 1rem;
	}
}

.projectsColumn {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	flex-flow: column nowrap;
}
