.pageBody {
	flex: auto;
	display: flex;
	margin-bottom: 5rem;
	flex-direction: column;
	justify-content: space-between;

	p {
		font-size: 1.25rem;
	}

	ul {
		margin-left: 1em;
		font-size: 1.25rem;
	}
}

.pageRow {
	display: flex;
	margin-top: 1rem;
	margin-bottom: 1rem;
	flex-direction: row;
	gap: 2rem;
}

.pageColumn {
	display: flex;
	width: 50%;
	flex-flow: column wrap;
	gap: 2rem;
}

.shields {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5rem;
}
