.navContainer {
	display: flex;
	width: 20rem;
	height: 100%;
	background-color: white;
	flex-direction: column;
}

.navHeader {
	padding: 0.5rem;
	width: 100%;
	justify-items: center;
	background-color: rgb(223, 216, 216);
	margin-bottom: 1rem;
}

.navBody {
	display: flex;
	padding: 1rem;
	flex-direction: column;
	margin-bottom: auto;
	align-items: center;
}

.navFooter {
	display: flex;
	padding: 1rem;
	justify-content: center;
	gap: 0.5rem;
}

.navButtons {
	display: flex;
	font-size: 1.5em;
	flex-flow: column nowrap;
	gap: 1rem;
}

button {
	all: unset;
	font-style: italic;
}

button:hover {
	text-decoration: underline;
	cursor: pointer;
}

button:focus-visible {
	outline: 2px solid black;
}

a {
	all: unset;
	transition-duration: 0.4s;
}

a:hover {
	cursor: pointer;
}

a:focus-visible {
	outline: 2px solid black;
}

.faIcon {
	color: #001737;
	transition-duration: 0.4s;
}

.faIcon:hover {
	color: #0251c0;
}

.avatar {
	margin-bottom: 2rem;
}
