.navContainer {
	display: flex;
	width: 20rem;
	background-color: white;
	flex-direction: column;
	justify-items: center;
}

.navHeader {
	padding: 0.5rem;
	width: 100%;
	justify-items: center;
	background-color: rgb(223, 216, 216);
	margin-bottom: 1rem;
}

.navBody {
	display: flex;
	padding: 1rem;
	flex-direction: column;
}

.navButtons {
	display: flex;
	font-size: 1.5em;
	flex-flow: column nowrap;
	gap: 1rem;
}

button {
	all: unset;
	font-style: italic;
}

button:hover {
	text-decoration: underline;
	cursor: pointer;
}

button:focus-visible {
	outline: 2px solid black;
}

.circle {
	height: 6rem;
	width: 6rem;
	background-color: forestgreen;
	border-radius: 50%;
	align-self: center;
	margin-bottom: 2rem;
}
