*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: Gontserrat;
}

body {
	overflow-x: hidden;
	line-height: 1.5;
}

#root {
	display: flex;
	position: relative;
	isolation: isolate;
}
